.vr-padding-bottom-15{padding-bottom: 15px;}
.vr-padding-top-15{padding-top: 15px;}
.vr-clearfix::after{
    content: '';
    display: table;
    clear: both;
}


.vr-panel{
    margin-bottom: 20px;
    border: 1px solid transparent;
    box-shadow: 0 8px 2px -2px rgba(0,0,0,.05);
    border-color: #ccc;
}

.vr-panel-heading{
    padding: 10px;
    padding-left: 35px;
    position: relative;
    background-color: #f2f2f2;
}
.vr-panel-title{

}

.vr-panel-toggle{
    display: inline-block;
    position: absolute;
    top:50%;
    left:10px;
    font-size: 25px;
    font-weight: bold;
    transform: translateY(-50%);
}

.vr-panel-body{
    padding: 20px;
}

.vr-label{
    font-weight: normal;
}

.vr-star-required
{
    color:red;
}

.vr-calendar{
    position: relative;
}

.vr-calendar-datepicker{
    position: absolute;
    top:50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 22px;
    color: #33b0b7;
}

.vr-control{
    padding: 5px;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
}

.vr-compte-credites-classeur-selects{
    position: relative;
    height: auto;
}

.vr-first-select{
    position: absolute;
    padding:0;margin: 0;
    width: 25%;
    left:0;top:0;
}

.vr-second-select{
    padding:0;margin: 0;
    position: absolute;
    left:25%;top:0;
    width: 75%;
}

.vr-control-success{
    position: relative;
}
.vr-control-success > input{

    border-color:green;
}
.vr-control-success > i{
    display: inline-block;
    position: absolute;
    top:10px;
    right:10px;
    color:green;
}

.vr-control-error{
    position: relative;

}
.vr-control-error > input{

    border-color:red;
}
.vr-control-error > i{
    display: inline-block;
    position: absolute;
    top:10px;
    right:10px;
    color:red;
}

.vr-control-error > .vr-control-message
{
    color:red;
}

.vr-button-criteres{
    padding: 5px 10px;
    border:1px solid blue;
    color:blue;
    border-radius:15px;
    background-color: transparent;
    outline: none;
}

.vr-button-criteres:hover{
    background-color: blue;
    color:white;
}


.vr-button-add-compte-benef{
    padding: 5px 10px;
    border:1px solid blue;
    color:white;
    border-radius:15px;
    background-color: blue;
    outline: none;
}

.vr-button-add-compte-benef:hover{
    background-color: transparent;
    color:blue;
}

.vr-toolbar{
    background-color: #f2f2f2;
    padding: 5px;
    margin-bottom: 15px;
}

.vr-tootbar-input {
    padding-left: 20px;
    padding-top: 5px;
}

.vr-tools{
    padding: 10px;
}

.vr-toggles{
    margin-top: 10px;
    padding-left: 20px;
}

.vr-toggle-selector{
    margin: auto 10px;
}

.vr-sep{
    display: inline-block;
    height: 15px;
    margin: auto 5px;
    border:none;
    border-left: 1px solid #ccc;

}

.vr-tab{

}

.vr-tab-header{
    text-align: center;
}

.vr-tab-header > a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}

.vr-tab-header > a.selected{
    Font-Weight: Bold;

}

.vr-tab-header > a > span.selected{
    background-color: blue;
}

.vr-tab-header > a > span{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: gray;

}

.vr-tab-content > div{
    display: none;
}

.vr-tab-content > div:first-child{
    display: block;
}