<form>
  <h3>Saisir un virment tiers</h3>
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#domestique" aria-controls="domestique" role="tab" data-toggle="tab">Ordre Domestique</a></li>
      <li role="presentation"><a href="#transfrontiere" aria-controls="transfrontiere" role="tab" data-toggle="tab">Ordre transfrontière</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="domestique">domestique</div>
      <div role="tabpanel" class="tab-pane" id="transfrontiere">transfrontière</div>
    </div>
  </div>
</form>
