
<div class="vr-tab">
    <div class="vr-tab-header">
        <a href="#" data-tab="tab1" class="tab-selector selected"><span class="vr-cercle selected"></span> ORDRE DOMESTIQUE </a>
        <span class="vr-sep"></span>
        <a href="#" data-tab="tab2" class="tab-selector"><span class="vr-cercle"></span> ORDRE TRANSFRONTIERE </a>
    </div>
    <div class="vr-tab-content">
        <div id="tab1" class="vr-tab-item">
            <div class="vr-toolbar">
                <div class="row">
                    <div class="col-md-4 vr-tootbar-input">
                        <select id="modelOption" class="vr-control">
                            <option value="" selected></option>
                            <option value="1">1</option>
                            <option value="2">1</option>
                            <option value="3">1</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <div class="vr-toggles">
                            <a href="#" class="vr-toggle-selector">Urgent  <i class="glyphicon glyphicon-record"></i></a>
                            <span class="vr-sep"></span>
                            <a href="#" class="vr-toggle-selector">Confidentialité  <i class="glyphicon glyphicon-record"></i></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="vr-tools pull-right">
                            <a href="#"><i class="glyphicon glyphicon-print"></i></a>
                            <span class="vr-sep"></span>
                            <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vr-panel">
                <div class="vr-panel-heading">
                    <div class="vr-panel-title">Panel title</div>
                    <a href="#" class="vr-panel-toggle"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                </div>
                <div class="vr-panel-body">
                    <div class="row vr-padding-bottom-15">
                        <div class="col-md-6">
                            <label for="name" class="vr-label">Compte Débité <span class="vr-star-required">*</span></label>
                            <select id="name" class="vr-control">
                                <option value="" selected></option>
                                <option value="1">1</option>
                                <option value="2">1</option>
                                <option value="3">1</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="vr-label">Compte Débité <span class="vr-star-required">*</span></label>
                            <select id="name" class="vr-control">
                                <option value="" selected></option>
                                <option value="1">1</option>
                                <option value="2">1</option>
                                <option value="3">1</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="vr-label">Compte Débité <span class="vr-star-required">*</span></label>
                            <div class="vr-calendar">
                                <input type="text" id="name" class="vr-control">
                                <a href="#" class="vr-calendar-datepicker"><i class="fa fa-calendar-o" aria-hidden="true"></i></a>
                            </div>

                        </div>
                    </div>

                    <div class="row vr-padding-bottom-15">
                        <div class="col-md-4">
                            <label for="name" class="vr-label">Compte Débité <span class="vr-star-required">*</span></label>
                            <select id="name" class="vr-control">
                                <option value="" selected></option>
                                <option value="1">1</option>
                                <option value="2">1</option>
                                <option value="3">1</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="name" class="vr-label">Compte Débité <span class="vr-star-required">*</span></label>
                            <input type="text" id="name" class="vr-control">
                        </div>
                        <div class="col-md-4">
                            <label for="name" class="vr-label">Compte Débité <span class="vr-star-required">*</span></label>
                            <input type="text" id="name" class="vr-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="vr-panel">
                <div class="vr-panel-heading">
                    <div class="vr-panel-title">Panel title</div>
                    <a href="#" class="vr-panel-toggle"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                </div>
                <div class="vr-panel-body">
                    <div class="row vr-padding-bottom-15">
                        <div class="col-md-12">
                            <label for="name" class="vr-label">Compte Débité <span class="vr-star-required">*</span></label>
                            <div class="vr-compte-credites-classeur-selects vr-padding-bottom-15">
                                <div class="vr-first-select">
                                    <select id="name" class="vr-control">
                                        <option value="" selected></option>
                                        <option value="1">1</option>
                                        <option value="2">1</option>
                                        <option value="3">1</option>
                                    </select>
                                </div>
                                <div class="vr-second-select">
                                    <select id="name" class="vr-control">
                                        <option value="" selected></option>
                                        <option value="1">1</option>
                                        <option value="2">1</option>
                                        <option value="3">1</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row vr-padding-bottom-15 vr-padding-top-15">
                        <div class="col-md-5">
                            <label for="name" class="vr-label">Compte Débité <span class="vr-star-required">*</span></label>
                            <input type="text" id="name" class="vr-control">
                        </div>
                        <div class="col-md-5">
                            <label for="name" class="vr-label">Compte Débité <span class="vr-star-required">*</span></label>
                            <select id="name" class="vr-control">
                                <option value="" selected></option>
                                <option value="1">1</option>
                                <option value="2">1</option>
                                <option value="3">1</option>
                            </select>
                        </div>
                    </div>

                    <div class="row vr-padding-bottom-15 vr-padding-top-15">
                        <div class="col-md-5">
                            <label for="name" class="vr-label">Compte Débité <span class="vr-star-required">*</span></label>
                            <input type="text" id="name" class="vr-control">
                        </div>
                    </div>

                    <div class="row vr-padding-bottom-15 vr-padding-top-15">
                        <div class="col-md-3">
                            <label for="name" class="vr-label">Compte Débité <span class="vr-star-required">*</span></label>
                            <div class="vr-control-success">
                                <input type="text" id="name" class="vr-control">
                                <i class="fa fa-check"></i>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="vr-label">Compte Débité <span class="vr-star-required">*</span></label>
                            <div class="vr-control-error">
                                <input type="text" id="name" class="vr-control">
                                <i class="fa fa-close"></i>
                                <span class="vr-control-message">Message</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="vr-label">Compte Débité <span class="vr-star-required">*</span></label>
                            <input type="text" id="name" class="vr-control">
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="vr-label">Compte Débité <span class="vr-star-required">*</span></label>
                            <input type="text" id="name" class="vr-control">
                        </div>

                    </div>


                    <div class="row vr-padding-bottom-15 vr-padding-top-15">
                        <div class="col-md-12">
                            <label for="name" class="vr-label">Compte Débité <span class="vr-star-required">*</span></label>
                            <textarea rows="4" id="name" class="vr-control" placeholder="PlaceHolder" style="resize: none;"></textarea>
                        </div>

                    </div>

                    <div class="text-center vr-padding-bottom-15 vr-padding-top-15">
                        <button type="button" class="vr-button-criteres">Moins de critères</button>
                    </div>


                </div>
            </div>
        </div>

        <div id="tab2" class="vr-tab-item">
            Transfrontiere
        </div>
    </div>

</div>
