<form>
  <h3>Saisir un virement tiers</h3>
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#domestique" aria-controls="domestique" role="tab" data-toggle="tab">Ordre Domestique</a></li>
      <li role="presentation"><a href="#transfrontiere" aria-controls="transfrontiere" role="tab" data-toggle="tab">Ordre transfrontière</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="domestique">
        <div id="vir-options" class="row">
          <div class="form-group modeles col-md-4">
            <select class="form-control">
              <option value="">Utiliser comme modèle</option>
              <option value="">modèle 1</option>
              <option value="">modèle 2</option>
              <option value="">modèle 3</option>
              <option value="">modèle 4</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <div class="row">
              <div class="checkboxUrgent col-md-6">
                <label>
                  Urgent
                  <input type="checkbox" name="urgent" />
                </label>
              </div>

              <div class="checkboxConfidentialite col-md-6">
                <label>
                  Confidentialité
                  <input type="checkbox" name="confidentialite" checked/>
                </label>
              </div>
            </div>
          </div>

          <div id="buttons" class="form-group col-md-4">
            <button class="vir-print"></button>
            <button class="vir-info"></button>
          </div>
        </div>


        <div class="panel-group" data-allow-multiple="true" role="tablist" aria-multiselectable="true" bs-collapse>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <a bs-collapse-toggle>Compte donneur d'ordre</a>
              </h4>
            </div>
            <div class="panel-collapse collapse am-collapse in" role="tabpanel" bs-collapse-target>
              <div class="panel-body">
                <div id="vir-compte-donneur-ordre row">
                  <div class="form-group col-md-6">
                    <label for="compte_debite">Compte débité *</label>
                    <input type="text" class="form-control" id="compte_debite" placeholder="Compte débité">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="devise">Devise *</label>
                    <input type="text" class="form-control" id="devise" placeholder="Devise">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="dateExecution">Date d'exécution *</label>
                    <input type="text" id="dateExecution" class="form-control" ng-model="selectedDate" name="date" bs-datepicker>
                  </div>
                </div>              
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <a bs-collapse-toggle>Compte donneur d'ordre</a>
              </h4>
            </div>
            <div class="panel-collapse collapse am-collapse in" role="tabpanel" bs-collapse-target>
              <div class="panel-body">
                <label for="compte_credite">Compte credite *</label>
                <div id="vir-compte-donneur-ordre row">
                  <div class="form-group col-md-4">
                    <select class="form-control">
                      <option value="0">Choisir un type de compte</option>
                      <option value="1">Compte courant</option>
                      <option value="2">Compte épargne</option>
                    </select>
                  </div>

                  <div class="form-group col-md-8">
                    <select class="form-control">
                      <option value="0">Choisir un compte</option>
                      <option value="1">Compte 1</option>
                      <option value="2">Compte 2</option>
                      <option value="3">Compte 3</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-4">
                    <label for="montant">Montant</label>
                    <input type="text" class="form-control" id="montant" placeholder="Montant">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="imputation_frais">Imputation des frais</label>
                    <input type="text" id="imputation_frais" class="form-control">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-4">
                    <label for="dateExecution">Référence du virement</label>
                    <input type="text" id="dateExecution" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>





      </div>
      <div role="tabpanel" class="tab-pane" id="transfrontiere">transfrontière</div>
    </div>
  </div>
</form>
